Repository nanoframework/nanoFramework.m2mqtt, pull requests merged in 2022-11, with the labels that each got.

#310 Adding Chinese version of README
  README.md
  README.zh-cn.md
Labels: Type: documentation

#311 Update and fix references and test projects
  M2Mqtt/nanoFramework.M2Mqtt.nfproj
  M2Mqtt/packages.config
  TestMqtt/Mosquito.TemperatureGauge/Mosquito.TemperatureGauge.nfproj
  TestMqtt/TestAppv5.0/Program.cs
  TestMqtt/TestAppv5.0/TestAppv5.0.nfproj
  TestMqtt/TestAppv5.0/packages.config
  TestMqtt/TestAppv5.0/packages.lock.json
  TestMqtt/TestMqtt-mosquittov3.1.1/Properties/AssemblyInfo.cs
  TestMqtt/TestMqtt-mosquittov3.1.1/TestMqtt-mosquittov3.1.1.nfproj
  TestMqtt/packages.lock.json
  Tests/MemoryLeakTestApp/MemoryLeakTestApp.nfproj
  Tests/MemoryLeakTestApp/packages.config
  Tests/MemoryLeakTestApp/packages.lock.json
  nanoFramework.M2Mqtt.sln
  nanoFramework.Mqtt.TestApps.sln
Labels: Area: Config-and-Build, Type: dependencies

#312 Add new `Publish` method accepting content type parameter
  M2Mqtt/MqttClient.cs
  Tests/MessageUnitTests/PublishTests.cs
Labels: Type: enhancement, Type: Unit Tests

#313 Add new `Publish` method accepting user properties
  M2Mqtt/MqttClient.cs
  M2Mqtt/Properties/AssemblyInfo.cs
  Tests/MessageUnitTests/MessageUnitTests.nfproj
  Tests/MessageUnitTests/PublishTests.cs
Labels: Type: enhancement, Type: Unit Tests

#314 Add check for v5 when processing Content Type
  M2Mqtt/MqttClient.cs
Labels: Type: enhancement, Breaking-Change

#315 Fix check for empty user properties
  M2Mqtt/MqttClient.cs
Labels: Type: bug
